body{
  background-color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
    
}
/* Title Header*/
h1{
border-radius: 5px;
margin: 0 auto;
width: 94%;
font-style: italic;
padding:20px;
background-image: linear-gradient(65deg, #FFFFF0, #d7cdd7, #FFFFF0);
text-align: center;
box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);

}

/* div that carries the item container and the cart container */
.left-right{
  width: 98%;
  display: flex;
  margin: 3px auto;
  
}
/* div that carries the cart container */
.cart-div{
  
  width: 33%;
  margin: 0 auto;
}

.cart-container{
  /* width: 50%; */
  margin: 0 auto; 
  height: auto;
  background-color: whitesmoke;
  padding: 50px ;
  margin-top: 7px ;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

  
}

.cart-div ul {
  list-style: none;
  padding: 0;
}

.cart-div ul li {
  padding: 5px 0;
  border-bottom: 1px solid #ddd;
}


.cart-container img{
  margin: 0 auto;
  width: 40%;
  justify-items: center;
  margin-left: 46px;
}


h6{
  margin-top: -25px;
  text-align: center;
  }


/* div that carries the item container */
.container{
  width: 65%;
  margin: 0 auto;
 
}

/* All buttons container*/
.btns{
  width: 50%;
  border-radius: 25px;
  padding: 8px 8px;
  justify-content: center;
  /* align-items: center; */
  border-color: gray;
  display: block;
  margin: 0 auto;
  gap: 5px;
  position: relative;
  top: -23px;

  }

  #clear-btn {
    background: #ff6b6b;
  color: white;
  border: none;
  padding: 8px 15px;
  margin-bottom: 5px;
  cursor: pointer;
  border-radius: 5px; 

    }


.remove-btn{
  width: 20%;
  background: #ff6b6b;
  color: white;
  border: none;
  padding: 8px 5px;
  margin-bottom: 5px;
  cursor: pointer;
  border-radius: 5px; 
  position: relative;
  bottom: 0px;
  right: -54px;
  gap: 5px;
}

/* Cart icon*/
span img{
  width: 10%;
}

/* all images*/
 img{
  width: 100%;
}

/* All paragraphs*/
p{
  font-weight: bold;
  position: relative;
  bottom: 35px;
  }
.pa{color: rgb(117, 115, 115);}
.pc{color: red;}


/* Items on the first row*/
.line1{
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: 5px auto;
  justify-content: center;
  justify-content: space-between;
  gap: 20px;
}

/* Items on the second row*/
.line2{ 
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: 5px auto;
  justify-content: center;
  justify-content: space-between;
  gap: 20px;
}

/* Items on the third row*/
.line3{
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: 5px auto;
  justify-content: center;
  justify-content: space-between;
  gap: 20px;
}

@media(max-width:800px){
  .left-right{
    flex-flow: column wrap;
  }

  h1{
    width: 66%;
   font-size: 1rem;
   text-align-last: center;
  }

  p{font-size: 0.9rem;}

  .cart-container{
    width: 70%;
    justify-content: center;
  }

  .cart-div{
    
    width: 100%;}

  .container{
    width:60% ;
  }

  .line1{
    flex-flow: column wrap;
    
  }

  .line2{
    flex-flow: column wrap;
  }

  .line3{
    flex-flow: column wrap;
  }
}

